<section class="front">
	<div class="banner">
		 <div class="logo"> {% include icons/logo.html %} </div>
	</div>
	<div class="ui-container">
		<div class="card square emerald">Projects</div>
		<div class="square river">
		<div class="front">Blog</div>
		<div class="back"><a href="/#/">Sup</a> Stuff</div>
		</div>
		<div class="square carrot">About</div>
		<div class="square alizarin">Contact</div>
	</div>
	
	<div id="card-1" class="card">
      <div class="front">
          Front
      </div>
      <div class="back">
          Back
      </div>
    </div>

</section>